<%= stylesheet_link_tag    "jquery-ui" %>

<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery-ui.min" %>
<%= javascript_include_tag "hc/highcharts" %>
<%= javascript_include_tag "hc/modules/exporting" %>
<%= javascript_include_tag "am/amcharts" %>
<%= javascript_include_tag "am/amcharts" %>

<div id="graphs">
  <ul>
    <li><a href="#AMCContainer"><span>AmCharts</span></a></li>
    <li><a href="#HCContainer"><span>HighCharts</span></a></li>
  </ul>

  <div id="HCContainer" style="min-width: 80%; height: 400px; margin: 0 auto"></div>
  <div id="AMCContainer" style="min-width: 80%; height: 400px; margin: 0 auto">

    <div id="chartdiv" style="width: 100%; height: 400px;"></div>
    <div style="margin-left:35px; margin-bottom:10px;">
      <input type="radio" name="group" id="rb1" onclick="setPanSelect()">Select
      <input type="radio" checked="true" name="group" id="rb2" onclick="setPanSelect()">Pan
    </div>
  </div>
</div>
<script>
    $(function () {
        $('#graphs').tabs();

        chart = new Highcharts.Chart({
            chart:{
                renderTo:'HCContainer',
                type:'line'
            },
            title:{
                text:'Users created'
            },
            xAxis:{
                type:'datetime'//,
//            dateTimeLabelFormats:{ // don't display the dummy year
//                month:'%e. %b',
//                year:'%b'
//            }
            },
            yAxis:{
                title:{
                    text:'Number'
                },
                min:0
            },
//        tooltip:{
//            formatter:function () {
//                return Highcharts.dateFormat('%e. %b', this.x) + ': ' + this.y + ' m';
//            }
//        },

            series:[
                {
                    name:'Created Users',
                    // Define the data points. All series have a dummy year
                    // of 1970/71 in order to be compared on the same x axis. Note
                    // that in JavaScript, months start at 0 for January, 1 for February etc.
                    data: <%=users.to_json%>
                }
            ]
        });

    });
</script>


<script type="text/javascript">
    var chart;
    var chartData = <%=raw am_users.to_json%>;
    var chartCursor;

    AmCharts.ready(function () {
        // generate some data first
//        generateChartData();

        // SERIAL CHART
        chart = new AmCharts.AmSerialChart();
        chart.pathToImages = "/assets/am/images/";
        chart.panEventsEnabled = true;
        chart.zoomOutButton = {
            backgroundColor: "#000000",
            backgroundAlpha: 0.15
        };
        chart.dataProvider = chartData;
        chart.categoryField = "date";
        chart.marginRight = 0;
        chart.balloon.bulletSize = 5;

        // listen for "dataUpdated" event (fired when chart is rendered) and call zoomChart method when it happens
        chart.addListener("dataUpdated", zoomChart);

        // AXES
        // category
        var categoryAxis = chart.categoryAxis;
        categoryAxis.parseDates = true; // as our data is date-based, we set parseDates to true
        categoryAxis.minPeriod = "ss"; // our data is daily, so we set minPeriod to DD
        categoryAxis.dashLength = 1;
        categoryAxis.gridAlpha = 0.15;
        categoryAxis.axisColor = "#DADADA";

        // value
        var valueAxis = new AmCharts.ValueAxis();
        valueAxis.axisAlpha = 0;
        valueAxis.dashLength = 1;
        chart.addValueAxis(valueAxis);

        // GRAPH
        var graph = new AmCharts.AmGraph();
        graph.title = "red line";
        graph.valueField = "value";
        graph.bullet = "round";
        graph.bulletBorderColor = "#FFFFFF";
        graph.bulletBorderThickness = 2;
        graph.lineThickness = 2;
        graph.lineColor = "#5fb503";
        graph.negativeLineColor = "#efcc26";
        graph.hideBulletsCount = 50; // this makes the chart to hide bullets when there are more than 50 series in selection
        chart.addGraph(graph);

        // CURSOR
        chartCursor = new AmCharts.ChartCursor();
        chartCursor.cursorPosition = "mouse";
        chartCursor.pan = true; // set it to fals if you want the cursor to work in "select" mode
        chart.addChartCursor(chartCursor);

        // SCROLLBAR
        var chartScrollbar = new AmCharts.ChartScrollbar();
        chartScrollbar.graph = graph;
        chartScrollbar.autoGridCount = true;
        chartScrollbar.scrollbarHeight = 25;
        chart.addChartScrollbar(chartScrollbar);

        // WRITE
        chart.write("chartdiv");
    });

    // this method is called when chart is first inited as we listen for "dataUpdated" event
    function zoomChart() {
        // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
        chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
    }

    // changes cursor mode from pan to select
    function setPanSelect() {
        if (document.getElementById("rb1").checked) {
            chartCursor.pan = false;
            chartCursor.zoomable = true;
        } else {
            chartCursor.pan = true;
        }
        chart.validateNow();
    }

</script>
